.toolbar_button_section {
  margin: 5px;
}

.toolbar_button_section_title {
  text-transform: uppercase;
}

.toolbar_button_group {
  display: flex;
  flex-direction: row;
}

.toolbar_button {
  --size: 25px;

  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  justify-content: center;
  min-height: var(--size);
  min-width: var(--size);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
}

.inactive {
  cursor: not-allowed;
}

.rotate {
  transform: rotate(-90deg);
}

.yesno {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 4px #6e6457;
  padding: 5px 10px;
  position: absolute;
}
