.toolbar_button_section {
  margin: 5px;
}

.toolbar_button_section_title {
  text-transform: uppercase;
}

.toolbar_button_group {
  display: flex;
  flex-direction: row;
}

.toolbar_button {
  --size: 25px;

  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  height: var(--size);
  justify-content: center;
  min-width: var(--size);
}

.inactive {
  cursor: not-allowed;
}
