.Editor {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 2;
  overflow: scroll;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: fixed;
  z-index: 2;
}

.Components {
  display: flex;
  position: relative;
}
