$edition-indicator-color: #ff9d00;

.Editor {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Components {
  display: flex;
  position: relative;
}

.Overlay {
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.edit {
  outline: 1px dashed $edition-indicator-color;
  z-index: 1;
}

.OverlayHeader {
  background: repeating-linear-gradient(
    45deg,
    $edition-indicator-color,
    $edition-indicator-color 10px,
    lighten($edition-indicator-color, 50%) 10px,
    lighten($edition-indicator-color, 50%) 20px
  );
  height: 10px;
  opacity: 0.6;
}

