$edition-indicator-color: #ff9d00;

.Editor {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: fixed;
  z-index: 2;
}

.Components {
  display: flex;
  margin-top: 80px;
  position: relative;
}
