.ControlPanel {
  background: rgba(#ffdea8, 0.8);
  box-shadow: 8px 8px 16px #6e6457;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 20px);
  margin-left: auto;
  overflow: scroll;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 400px;
  z-index: 2;
}

.Row {
  align-items: center;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.Group {
  background-color: #ff9d00;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.GroupTitle {
  font-size: 9px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.GroupContent {
  display: flex;
  justify-content: flex-start;
}

.Item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.Button {
  align-items: center;
  display: flex;
  justify-content: center;

  span {
    margin-left: 10px;
  }
}