$edition-indicator-color: #ff9d00;

.EditorFrame {
  border: none;
  position: relative;
}

.edit {
  outline: 1px dashed $edition-indicator-color;
  z-index: 1;
}

.cross {
  --size: 10px;
  align-items: center;
  border-radius: 6px;
  background: $edition-indicator-color;
  box-shadow: 8px 8px 16px #6e6457;
  display: flex;
  font-size: 9px;
  font-weight: bolder;
  height: var(--size);
  justify-content: center;
  left: calc(100% - var(--size));
  opacity: 0.9;
  padding: 5px;
  position: absolute;
  top: calc(0px - var(--size));
  width: var(--size);
  z-index: 1;
}
