$edition-indicator-color: #ff9d00;

.Overlay {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.edit {
  outline: 1px dashed $edition-indicator-color;
}

.OverlayHeader {
  background: repeating-linear-gradient(
    45deg,
    $edition-indicator-color,
    $edition-indicator-color 10px,
    lighten($edition-indicator-color, 50%) 10px,
    lighten($edition-indicator-color, 50%) 20px
  );
  height: 10px;
  margin-bottom: 10px;
  opacity: 0.6;
  pointer-events: initial;
}

.OverlayContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto 10px 10px 10px;
  pointer-events: none;
}
