.Properties {
  background: white;
  border: 1px solid;
  flex-shrink: 0;
  height: 100%;
  margin-left: auto;
  right: 0;
}

.PropertyEditor {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
