.Properties {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.LabelSelectComponent {
  padding: 10px;
  background: rgba(255, 157, 0, 0.8);
}

.PropertyList {
  margin-bottom: 10px;
  max-height: 400px;
  overflow: scroll;
}

.PropertyEditor {
  background-color: #ff9d00;
  display: flex;
  justify-content: flex-start;
  margin: 0px 10px;
  padding: 5px;

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  input {
    margin-left: auto;
  }
}

.PropertyAdder {
  background-color: #ff9d00;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px;
  padding: 5px;
}

.hamburger_button {
  align-self: flex-end;
}