@import "../style/variables.scss";

.Selector {
  background-color: $edition-indicator-color;
  border: 1px solid;
  min-width: 300px;
  padding: 1em;
}

.List {
  border: 1px solid;
  max-height: 8em;
  overflow: scroll;
  padding: 0.5em;
}

.ListItem {
  padding: 0.2em;

  &:nth-child(odd) {
    background-color: lighten($edition-indicator-color, 40%);
  }

  &:nth-child(even) {
    background-color: lighten($edition-indicator-color, 45%);
  }

  &.active {
    background-color: $edition-indicator-color;
  }
}

.SelectFileBar {
  display: flex;
  margin-top: 1em;

  input {
    margin-left: 1em;
  }
}

.ButtonBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;

  div:not(:first-child) {
    margin-left: 1em;
  }
}
